<div id="club-news">
	<h3>Latest Club News</h3>
	<p>Content to go here</p>
<div class="news-section">
    <div class="NewsHeader"><a href="#">News Title</a></div>
    <div class="news"><p>News article text goes here, with a link to see article to right... <a href="#">&rsaquo;&rsaquo;</a></p> </div>
</div>

</div>

<div id="photo-section">
	<%= image_tag("drink.jpg", :alt => "sporty pics image", :width => 198) %><br>
	<%= image_tag("sporty_snaps.jpg", :alt => "sporty pics image", :width => 198) %>
</div>

<div id="dbmax-section">
	<%= link_to image_tag("dbmax.jpg", :width => '70%', :alt => "DB Max Multisport Events"), "http://www.dbmax.co.uk", :confirm => "Do you wish to leave this site to visit the DB Max Mulitsport Events Site?" %>
	<p class="strip-line">Race Timing &amp; Multisport Events</p>
<h1 class="page-header">Welcome to DB Max Race Timing & Multisport Events</h2>
     <p><a href="#">DB Max Events</a> organise multisport events in the UK including running events, duathlons,
     triathlons and rowing triathlons. We also specialise in 'traffic-free' racing and many of our events are held at private
     race circuits such as Castle Combe and Mallory Park.</p>

     <p><a href="#">DB Max Precision Timing</a> use an active RFID timing system to provide real time results for triathlon, duathlon, 
     running and cycling events. Our chip timing service can be adapted to suit any event, providing fast, affordable,
     reliable and accurate results.</p>

</div>